{{> head}}

{{> navbar}}
<div class="container mt-5 font-weight-regular">
    <h2 class="text-center mb-2">Disciplinas</h2>
    <hr>
    <br>
    <p>&#x2022; Programação Web 2</p>
    <p>&#x2022; Programação em Disposivos Móveis</p>
    <p>&#x2022; Arquitetura de Software</p>
    <p>&#x2022; Manutenção de Software</p>
    <p>&#x2022; Libras 1</p>
    <p>&#x2022; TCC 1</p>
</div>
{{> footer}}