{{> head}}

{{> navbar}}

<div class="container">
    <div class="row mt-5">
        <div class="col-7">
            <img src="https://seeklogo.com/images/W/web-site-www-icon-logo-C9F2B6A779-seeklogo.com.png">
        </div>
        <div class="col-5">
            <h4><strong>Guilherme Henrique Saraiva</strong></h4>
            <p>Cornélio Procópio, Paraná - Brasil.</p>
            <br>
            <p>Discente da Universidade Tecnológica Federal do Paraná.</p>
        </div>
    </div>
</div>

{{> footer}}