{{> head}}

{{> navbar}}
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="public/assets/css/midia.css">
	<script src="https://kit.fontawesome.com/ea0a51db70.js"></script>
</head>
<body>
	<div class="container mt-5 text-center">
		<h6>Entre em contato comigo :)</h6>
	</div>
	<div class="container mt-5 text-center">
			<a href="https://twitter.com/oguisaraiva/" class="btn twitter" style="color: rgb(0, 60, 76);" href="#">
				<i class="fab fa-twitter fa-2x"></i>
			</a>
			<a href="https://instagram.com/oguisaraiva/" class="btn instagram" style="color: rgb(0, 60, 76);" ref="#">
				<i class="fab fa-instagram fa-2x"></i>
			</a>
			<a href="https://linkedin.com/in/oguisaraiva/" class="btn linkedin" style="color: rgb(0, 60, 76);" href="#">
				<i class="fab fa-linkedin fa-2x"></i>
			</a>
			<a href="https://github.com/oguisaraiva/" class="btn github" style="color: rgb(0, 60, 76);" href="#">
				<i class="fab fa-github fa-2x"></i>
			</a>
	</div>
	
</body>
{{> footer}}