{{> head}}

{{> navbar}}

<div class="container">
    <div class="mt-5 ml-2">
        <h1>Guilherme Henrique Saraiva</h1>
        <br>
        <p><b>Email:</b> guilherme-saraiva@hotmail.com</p>
        <hr>
        <div>
            <p><b>Areas de interesse:</b></p>
            <li>Desenvolvimento Web</li>
            <li>User Experience</li>
            <li>Design of User Interface</li>
            <br>
            <p><b>Tecnologias:</b></p>
            <li>HTML, CSS, Javascript, Vue.js e React.js</li>
            <br>
            <p><b>Cursos e certificações:</b></p>
            <li>Figma: Design colaborativo do básico ao protótipo responsivo.</li>
            <li>Curso Web Design Completo: HTML5, CSS3 e JS + 5 Projetos.</li>
            <li>Vue JS - Curso Completo do Básico ao Avançado.</li>
            <br>
        </div>
    </div>
</div>
        
{{> footer}}